.header__heading {
  display: flex;
  align-items: center;
  cursor: pointer;

  & img {
    @media screen and (max-width: $bp-small) {
      width: 13rem;
    }
  }
}

@media screen and (min-width: $bp-small-2) {
  .menu img {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &__list {
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style: none;
    color: var(--color-natural-Dark-grayish-blue);
    margin-left: 4rem;
    font-size: 1.3rem;

    @media screen and (max-width: $bp-small-2) {
      margin-left: 0;
    }
  }

  &__item {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 3rem;

      @media screen and (max-width: $bp-small-2) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $bp-small-2) {
      display: none;
    }
  }

  &__cart-icon {
    cursor: pointer;

    @media screen and (max-width: $bp-small-2) {
      margin-left: auto;
    }
  }
  &__user-img {
    width: 4rem;
    margin-left: 3rem;
    cursor: pointer;
    border-radius: 50%;
  }
}

.responsive-list {
  position: absolute;
  height: 100vh;
  width: 40%;
  top: 0;
  left: 0;
  background-color: var(--color-natural-White);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-natural-Black);
  gap: 2rem;
  padding-top: 10rem;
  padding-left: 3rem;

  & li {
    @media screen and (max-width: $bp-small-2) {
      display: block;
    }
  }
}

.menu {
  display: none;
  margin-right: 2rem;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  &__icon {
  }

  @media screen and (max-width: $bp-small-2) {
    display: block;
  }
}

.close {
  display: none;
}

.close {
  // display: block !important;
  z-index: 10;
}

.product {
  display: flex;
  flex-direction: column;
  flex: 0 0 37rem;
  gap: 2rem;
  // padding: 1rem 0;
  img {
    display: block;
    border-radius: 10px;
    // width: 100%;
    height: 100%;
    width: 100%;

    @media screen and (max-width: $bp-small) {
      border-radius: 0;
    }
  }

  &__active {
    width: 100%;

    @media screen and (max-width: $bp-small) {
      height: 40rem;
      min-width: 100vw;
    }
  }

  &__thumbnails {
    display: flex;
    width: 100%;
    gap: 2rem;

    @media screen and (max-width: $bp-small) {
      min-width: 100%;
      height: 30rem;
      gap: 0;
    }
  }

  &__thumbnail {
    flex: 1;
    @media screen and (max-width: $bp-small) {
      min-width: 100%;
      // flex-grow: 1;
    }
  }

  @media screen and (max-width: $bp-medium) {
    flex: 0 0 40rem;
  }

  @media screen and (max-width: $bp-small) {
  }

  @media screen and (max-width: $bp-small) {
    gap: 0;
    flex-direction: row;
    overflow: auto;
  }
}

.details {
  margin-top: 5rem;
  &__heading-3 {
    margin-bottom: 1rem;
  }
  &__heading-2 {
    margin-bottom: 2.3rem;
    font-weight: 700;
  }
  &__paragraph {
    margin-bottom: 2rem;
    width: 90%;
  }
  &__pricing {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  &__price {
    font-size: 2rem;
    color: var(--color-natural-Black);
    font-weight: 700;
    margin-right: 1.5rem;
  }
  &__discount {
    color: var(--color-primary-Orange);
    background-color: var(--color-primary-Pale-orange);
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  &__previous-price {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    text-decoration: line-through;
  }

  &__form {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: $bp-small-2) {
      flex-direction: column;
    }
  }

  &__btn {
    background-color: var(--color-primary-Orange);
    color: var(--color-natural-Light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-family: "Kumbh Sans", sans-serif;
    // font-weight: 700;
    font-size: 1.3rem;
    flex: 0 0 53%;
    gap: 1rem;
    cursor: pointer;

    @media screen and (max-width: $bp-small) {
    }

    @media screen and (max-width: $bp-small-1) {
      padding: 1rem;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-natural-White);
    mask-image: url(/images/shopping-cart-1985.svg);
    mask-size: cover;
  }

  @media screen and (max-width: $bp-medium) {
    margin-top: 2.5rem;
  }

  @media screen and (max-width: $bp-small) {
    margin: 2rem;
  }
}

.quantity {
  display: flex;
  align-items: center;

  & > * {
    width: 4rem;
    height: 4.5rem;
    border: none;
    background-color: var(--color-natural-Light-grayish-blue);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: $bp-small-1) {
      flex: 1;
    }
  }
  button {
    color: var(--color-primary-Orange);
    padding: 1.5rem;
    font-size: 2rem;
    &:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:nth-child(3) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  input {
    color: var(--color-natural-Black);
    text-align: center;
    font-size: 1.2rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &:focus {
      outline: none;
    }
  }

  // @media screen and (max-width: $bp-small-1) {
  //   width: 100%;
  // }
}
