.main {
  display: flex;
  // justify-content: space-between;
  padding: 5rem;
  padding-right: 3vw;

  @media screen and (max-width: $bp-small) {
    flex-direction: column;
    padding: 0;
  }

  @media screen and (max-width: $bp-small-1) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: solid 0.5px var(--color-natural-Grayish-blue);
  // margin: 0 10rem;

  @media screen and (max-width: $bp-small) {
    padding: 2.5rem;
  }
}

.product {
  //   flex: 1;
  margin-right: 7vw;

  @media screen and (max-width: $bp-small) {
    margin-right: 0;
  }
}

.details {
  //   flex: 1;
}
