.heading-2 {
  font-size: 4rem;

  @media screen and (max-width: $bp-small-2) {
    font-size: 3rem;
  }
}

.heading-1 {
  color: var(--color-primary-Orange);
}

.paragraph {
  color: var(--color-natural-Dark-grayish-blue);
  font-size: 1.4rem;
}
