:root {
  --color-primary-Orange: hsl(26, 100%, 55%);
  --color-primary-Pale-orange: hsl(25, 100%, 94%);
  --color-natural-Very-vark-blue: hsl(220, 13%, 13%);
  --color-natural-Dark-grayish-blue: hsl(219, 9%, 45%);
  --color-natural-Grayish-blue: hsl(220, 14%, 75%);
  --color-natural-Light-grayish-blue: hsl(223, 64%, 98%);
  --color-natural-White: hsl(0, 0%, 100%);
  --color-natural-Black: hsl(
    0,
    0%,
    0%
  );
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 71.25em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 40em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  padding: 0 10.5vw;
}

@media screen and (max-width: 57.5em) {
  body {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 28em) {
  body {
    padding: 0;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  padding-right: 3vw;
}

@media screen and (max-width: 28em) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 44em) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
  border-bottom: solid 0.5px var(--color-natural-Grayish-blue);
}

@media screen and (max-width: 28em) {
  .header {
    padding: 2.5rem;
  }
}

.product {
  margin-right: 7vw;
}

@media screen and (max-width: 28em) {
  .product {
    margin-right: 0;
  }
}

.heading-3 {
  color: var(--color-primary-Orange);
}

.heading-2 {
  font-size: 4rem;
}

@media screen and (max-width: 40em) {
  .heading-2 {
    font-size: 3rem;
  }
}

.paragraph {
  color: var(--color-natural-Dark-grayish-blue);
  font-size: 1.4rem;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  cursor: pointer;
}

@media screen and (max-width: 28em) {
  .header__heading img {
    width: 13rem;
  }
}

@media screen and (max-width: 28em) {
  .header__heading {
    margin-right: auto;
  }
}

@media screen and (min-width: 40em) {
  .menu img {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  list-style: none;
  color: var(--color-natural-Dark-grayish-blue);
  margin-left: 4rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 40em) {
  .nav__list {
    margin-left: 0;
  }
}

.nav__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__item:hover {
  color: var(--color-natural-Black);
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

@media screen and (max-width: 40em) {
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 40em) {
  .nav__item {
    display: none;
  }
}

.nav__cart-icon {
  cursor: pointer;
  margin-left: auto;
}

.nav__user-img {
  width: 4rem;
  margin-left: 3rem;
  cursor: pointer;
  border-radius: 50%;
}

.nav__cart-box {
  position: relative;
}

.nav__menu {
  position: absolute;
  background-color: var(--color-natural-White);
  list-style: none;
  top: 4rem;
  left: -14rem;
  width: 32rem;
  z-index: 50;
  border-radius: 10px;
  box-shadow: 17px 21px 45px -10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 17px 21px 45px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 17px 21px 45px -10px rgba(0, 0, 0, 0.2);
}

.nav__menu-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr min-content;
      grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
      grid-template-columns: min-content 1fr min-content;
  padding: 2rem;
  font-size: 1.4rem;
}

.nav__menu-item--empty {
  padding: 4rem;
  text-align: center;
  color: var(--color-natural-Dark-grayish-blue);
}

.nav__menu-name {
  padding: 2rem 2rem;
  border-bottom: solid 0.5px var(--color-natural-Grayish-blue);
  font-weight: 800;
}

.nav__menu-imgbox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  width: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.nav__menu-imgbox img {
  width: 100%;
  border-radius: 10px;
}

.nav__menu-model {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: var(--color-natural-Dark-grayish-blue);
}

.nav__menu-pricing {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: var(--color-natural-Dark-grayish-blue);
}

.nav__menu-total {
  font-weight: 800;
  color: var(--color-natural-Black);
}

.nav__menu-remove {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  background-color: transparent;
}

.nav__menu-remove img {
  width: 1.5rem;
}

.nav__menu-checkout {
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-top: 1rem;
  font-weight: 800;
  background-color: var(--color-primary-Orange);
  color: var(--color-natural-Light-grayish-blue);
  border: none;
  border-radius: 10px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 1.5rem 2rem;
}

@media screen and (max-width: 71.25em) {
  .nav__menu {
    left: -17rem;
  }
}

@media screen and (max-width: 57.5em) {
  .nav__menu {
    left: -25rem;
  }
}

.responsive-list {
  position: absolute;
  height: 100vh;
  width: 40%;
  top: 0;
  left: 0;
  background-color: var(--color-natural-White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-natural-Black);
  gap: 2rem;
  padding-top: 10rem;
  padding-left: 3rem;
  z-index: 20;
}

@media screen and (max-width: 40em) {
  .responsive-list li {
    display: block;
  }
}

.menu {
  display: none;
  margin-right: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  .menu {
    display: block;
  }
}

.close {
  z-index: 50;
}

.product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35rem;
          flex: 0 0 35rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 3.8fr 0.8fr;
      grid-template-rows: 3.8fr 0.8fr;
  gap: 2rem;
}

.product img {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.product__img img {
  border-radius: 10px;
}

@media screen and (max-width: 28em) {
  .product__img img {
    border-radius: 0;
  }
}

.product__active-img:hover {
  background: -webkit-gradient(linear, left top, right top, from(#984f4f), color-stop(35%, white));
  background: linear-gradient(90deg, #984f4f 0%, white 35%);
}

.product__img--active {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media screen and (max-width: 28em) {
  .product__img--active {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 28em) {
  .product__img--thumbnail {
    min-width: 100vw;
  }
}

@media screen and (max-width: 28em) {
  .product__img--thumbnail-1 {
    display: none;
  }
}

.product__modals {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto 3.8fr 0.8fr;
      grid-template-rows: auto 3.8fr 0.8fr;
  gap: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35rem;
  z-index: 15;
}

.product__modals-close {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: 2;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--color-natural-White);
  cursor: pointer;
}

.product__modals-swiperight {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  z-index: 30;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  cursor: pointer;
}

.product__modals-swipeleft {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 30;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

@media screen and (max-width: 28em) {
  .product__modals {
    width: 80%;
  }
}

.product__modal {
  grid-row: 3/ -1;
}

.product__modal-img {
  border-radius: 10px;
}

.product__modal--active {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  position: relative;
}

.product__swipeleft {
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 2rem;
}

@media screen and (max-width: 28em) {
  .product__swipeleft {
    display: block;
  }
}

.product__swiperight {
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2rem;
}

@media screen and (max-width: 28em) {
  .product__swiperight {
    display: block;
  }
}

@media screen and (max-width: 28em) {
  .product {
    overflow: auto;
  }
}

@media screen and (max-width: 28em) {
  .product {
    -ms-grid-columns: (100vw)[5];
        grid-template-columns: repeat(5, 100vw);
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    gap: 0;
  }
}

.details {
  margin-top: 5rem;
}

.details__heading-3 {
  margin-bottom: 1rem;
}

.details__heading-2 {
  margin-bottom: 2.3rem;
  font-weight: 700;
}

.details__paragraph {
  margin-bottom: 2rem;
  width: 90%;
}

.details__pricing {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__price {
  font-size: 2rem;
  color: var(--color-natural-Black);
  font-weight: 700;
  margin-right: 1.5rem;
}

.details__discount {
  color: var(--color-primary-Orange);
  background-color: var(--color-primary-Pale-orange);
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.details__previous-price {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  text-decoration: line-through;
}

.details__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 40em) {
  .details__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.details__btn {
  background-color: var(--color-primary-Orange);
  color: var(--color-natural-Light-grayish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 10px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
  gap: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 44em) {
  .details__btn {
    padding: 1rem;
  }
}

.details__icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-natural-White);
  -webkit-mask-image: url(/images/shopping-cart-1985.svg);
          mask-image: url(/images/shopping-cart-1985.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
}

@media screen and (max-width: 50em) {
  .details {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 28em) {
  .details {
    margin: 2rem;
  }
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity > * {
  width: 4rem;
  height: 4.5rem;
  border: none;
  background-color: var(--color-natural-Light-grayish-blue);
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 44em) {
  .quantity > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.quantity button {
  color: var(--color-primary-Orange);
  padding: 1.5rem;
  font-size: 2rem;
}

.quantity button:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quantity button:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.quantity input {
  color: var(--color-natural-Black);
  text-align: center;
  font-size: 1.2rem;
}

.quantity input::-webkit-outer-spin-button, .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.quantity input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.swipe-btn {
  background-color: var(--color-natural-White);
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  font-family: "Kumbh Sans", sans-serif;
  padding-bottom: 0.2rem;
}
/*# sourceMappingURL=main.css.map */